html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightgreen;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameField {
    padding-top: 50px;
    background-color: lightskyblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.startDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
}

.board {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.player {
    margin: 0;
}

.board1 {
    visibility: hidden;
}

.cell {
    background-color: coral;
}

.footer {
    background-color: lightgoldenrodyellow;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}