html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #567;
    color: #e0dfdc;
}

h3 {
    margin: 0;
}

.header {
    margin-top: 20px;
    height: 100px;
    align-self: center;
    font-size: 3em;
    color: #e0dfdc;
    background-color: #567;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.game {
    padding-top: 20px;
    background-color: #567;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    display: none;
}

.startDiv {
    height: 100%;
    display: flex;
    background-color: #567;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 150px;
}

button {
    border-radius: 15px;
}

.board {
    height: 100%;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
    border: none;
}

.board1 {
    visibility: hidden;
}

.cell {
    background-color: rgb(156, 196, 156);
}

.x {
    background-image: url('../tic-tac-toe/images/TIC.png');
    background-size: cover;
}

.o {
    background-image: url('../tic-tac-toe/images/TAC.png');
    background-size: cover;
}

.footer {
    background-color: lightgoldenrodyellow;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    height: 100px;
    width: 50px;
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

/* dialog[open] {
    display: flex;
} */